  #myInput
  {
    width:24.5%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
  }

  #btnSelectItem
  {
    float: left;
    width: 5%;
    padding: 10px;
    background: OrangeRed;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  #btnSelectItem:hover
  {
    background: Orange;
  }

  #chooseHolder
  {
    margin: auto;
     background-color: yellow:
  }

  #chooser
  {
/*    background-color: pink; */
    display: none;
    width: 28%;
  }

  #itemChooser li
  {
     padding:3px 0px;
  }
  #itemChooser li:hover
  {
    cursor: pointer
  }


