
  table, th, td
  {
    border: 1px solid green;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: .5em .25em;
    white-space: nowrap;
  }

  th
  {
    font-weight: bold;
    text-align: center;
    color: MidnightBlue;
    overflow: hidden;
  }

/******
  h2
  {
    color:white;
    font-weight: bold;
    margin-left: 8em;
  }

  h5
  {
    font-weight: bold;
  }
/******/

  h4
  {
    font-weight: bold;
  }

  .footer
  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightGray;
    color: white;
    text-align: center;  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

/******
 I have a syntax problem here
  #terms #privacy a:link
  {
    color: darkGray;
  }
/******/

  .myButton
  {
    background-color: OrangeRed;
    display: inline-block;
    font-weight: bold;
    font-size: .8em;
    color: White;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    padding: 5px;
    margin-bottom: 2em;
    min-width: 8em;
  }

  select#itemChooser
  {
    width:300px;
  }

  #inputDiv.embedded
  {
    margin-top:-50px;
  }

  #measures
  {
/*    background: aqua; */
  }

