 /*************************************
 * For Recipe & Food Item Chooser Dropdowns
 * ***********************************/

  .wrapper
  {
    margin-top: 20px;
    margin-left:0;
  }

  #recipeWrapper
  {
    width:50%;
  }

  #foodWrapper
  {
    margin-left:50%;
  }

  .foodDiv
  {
    margin-left:-100%;
  }

  #chooserHolder
  {
//    background-color: aqua;
  }

  .bigInput
  {
    float: left;
    width:50%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
  }

  .searchButton
  {
    float: left;
    padding: 10px;
    background: OrangeRed;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 46px;
  }

  .selectButton
  {
    margin-left: 10px;
    float: left;
    padding: 8px;
    background: OrangeRed;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
  }

  .searchButton:hover, .selectButton:hover
  {
    background: Orange;
  }

  .chooser
  {
    display: none;
    width: 28%;
  }

  li
  {
     padding:3px 0px;
  }

  li:hover
  {
    cursor: pointer
  }

 /*************************************
 * Date Stuff
 * ***********************************/
  #dateHolder
  {
    margin-top: 8px;
/***
 centering just looked a little off
    margin-left: auto;
    margin-right: auto;
/***/
  background:OrangeRed;
  display:inline-block;
  color:#FFF;
  font-size: 25px;
  font-weight: bold;

    margin-left:400px;
    width:200px;
  }

#dateHolder:hover 
{
    background:orange;
} 

.calendar-btn {
    border-right: 0px;
}
.input-button {
    border-left: 0px;
}

.datebtn{
    background:transparent;
    outline:0;
    border:0;
}


  .myIconButton
  {
    background-color: OrangeRed;
    font-weight: bold;
    font-size: 25px;
    color: White;
  }


