 /************************************
 * for General Use
 * ***********************************/
  h2
  {
    margin-top: -.10em;
    font-size: 1.4em;
    color:DarkBlue;
  }

  h3
  {
    color: maroon;
    margin-left: 8em;
  }

  .divCaption
  {
    margin-top: 1em;
/*    margin-bottom: .5em; */
    font-weight: bold;
    color: maroon;
  }

  #commentCap
  {
    width:55%;
    margin-left: 100px;
  }

 #commentBox
  {
      width: 55%;
      height: 100px;
      padding: 4px;
      text-align: left;
      border-style: solid;
      border-color: green;   /* #008000; */
      border-width: 1px;
    margin-bottom: .3em;
    margin-left: 100px;
  }

  #comments
  {
    width:55%;
    margin-left: 100px;
  }

  #weight
  {
    float: right;
  }

  .totals
  {
     margin-top: 5px;
  }

  .totalsHolder
  {
    margin-left: 100px;
    font-size: 1em;  /* 1em=16px */
    width: 50%;
  }

  /*********************
  *  For showRecipe 
  /*********************/
  #servingInfo
  {
    width: 50%;
    margin-left: 100px;
  }

  #enterServing
  {
    float: left;
  }


  body 
  {
    padding-top: 50px;
    background-color: linen;
     margin: 0;
  }

  .hidden
  {
    display:none;
  }

  #banner #kdc-logo
  { /* NOTE: path is relative to location of this css file */
    background-image: url(../images/KDC_BannerHeader.jpg);
    background-repeat:no-repeat;
    display:block;

    margin-top:-50px;
    width: 960px;
    height: 200px;
  }

  #kdc-logo
  {
    overflow: hidden;
    text-indent:100%;
    white-space: nowrap;
  }


 /************************************
 * Stylized buttons
 * **********************************/
  .myButton
  {
    background-color: OrangeRed;
    display: inline-block;
    font-weight: bold;
    font-size: .8em;
    color: White;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    padding: 5px;
    margin-bottom: 2em;
    min-width: 8em;
  }

  .myButton:disabled
  {
    background-color: darkGray;
  }

  .saveButton
  {
    background-color: Green;
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    color: White;
    padding: 5px;
    vertical-align: middle;
    width: 100%
  }

  #btnSave:enabled
  {
    background-color: green;
  }

 /************************************
 * General table styling
 * **********************************/
  table, th, td
  {
    margin-top: 0px;
    border: 1px solid green;
    overflow: hidden;
    border-collapse: separate;
    /*border-spacing: .5em .25em;*/
    white-space: nowrap;
    /*padding: 5px;*/
    border-spacing: 0;
  }

  th
  {
    font-weight: bold;
    text-align: center;
    color: MidnightBlue;
    overflow: hidden;
  }

  td, th {
    padding: 6px;
  }

  tfoot
  {
    color: MidnightBlue;
    font-weight: bold;
    text-align: right;
  }


 /*************************************
 * Tracking table, getDailyTotals, editRecipe
 * ***********************************/
  .delButton
  {
    background-color: orangeRed;
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    color: White;
    padding: 5px;
    vertical-align: middle;
    width: 100%
  }

  .rightJustify
  {
    text-align: right;
  }

  .lefttJustify
  {
    text-align: left;
  }

/******************************
/*  showGroceries & editRecipe*/
/****************************/
  .myHead
  {
    font-weight: bold;
    color: maroon;
  }

  #grocID, #itemIDs
  {
    display: inline-block;
    margin-left: 25px;
  }

  #sub
  {
    display: inline-block;
    margin-left: 15%;
  }

  #pub
  {
    display: inline-block;
    float: right;
  }


 /*************************************
 * For Add New Recipe Box
 * ***********************************/
    #addItemBox
    {
      float: left;
      height: 50px;
      margin-top: 20px;
      margin-left: 3em;
      padding: 40px;
      font-weight: bold;
      background-color: LightBlue;
    }

    /*************************
    /* showGroceries, recipes 
    /*************************/
    #btnEnter
    {
      margin-top: .4em;
    }

