#trackHeader
{
    margin-top:0px;
    width:1200px;
    height:160px;
    position:relative;
}

  #nutrientContainer
  {
     width: 1220px;
     height: 353px;
/* background-color: pink; */
    margin-top:-20px;
    margin-left:-80px;
    overflow-y:auto;
    overflow-x:hidden;
    position: relative;
  }

  #log
  {
     width: 1200px;
/*     background-color: yellow; */
  }

  #header-fixed{
      position: fixed;display:none;background-color:linen;width:1200px;margin-top: 0;
  }

  #log th.nutriCol td.nutriCol
  {
     width:10%;
  }

  #log tr td input{width:70px;}

  .itemName
  {
    width: auto;
    white-space:normal;
    text-overflow: ellipsis;
    text-align: left;
  }

  .qtyCol
  {
    width: 7%;
  }

  .qtyNameCol
  {
    width: 10%;
  }

  .stdCol
  {
    width: auto;
  }

